.auth0-lock-radio_group
	margin-bottom 10px
	.auth0-lock-radio_group_title
		margin-bottom 5px !important
	.auth0-lock-radio_group_options
		label
			display flex
			align-items center
			cursor pointer
			input
				margin-right 5px !important
				cursor pointer
			span
				font-size 13px
